
@using Sistema_de_Emprestimo_de_Livros.Models
@model LivrosModel



@section Styles {
	<link rel="stylesheet" href="/css/formCadastrolivros.css" asp-append-version="true" />
	<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
}


<!-- Page Heading -->
<h1 class="h3 mb-1 m-5 text-gray-800">Detalhes do Livro</h1>

<div class="card shadow mt-2 row p-0 pe-lg-0 pt-lg-5 border shadow-lg m-5" style="background-color:  #F8F0E2">
	<div class="row mb-3">
		<div class="col-lg-3 m-2">
            <div class="col">
                <img src="/img/@Model.Capa" class="img-fluid">
            </div>          
        </div>
        <div class="col-lg-8">
            <h4 class="mt-4">
                @Model.Titulo / @Model.Autor
            </h4>
            <br />
            <h5 class="H5">
                Ano de publicação : @Model.AnoPublicacao.ToString("dd/MM/yyyy")
            </h5>
            <p class="lead">
                ​@Model.Descricao
            </p>
            <br />
            <div class="row align-items-start mt-5">
                <div class="col">
                    <p class="lead">
                        <i class="bi bi-upc-scan mx-2" data-bs-toggle="tooltip" title="Codigo ISBN"></i>
                        @Model.ISBN
                    </p>
                </div>
                <div class="col">
                    <p class="lead">
                        <i class="bi bi-calendar3 mx-2" data-bs-toggle="tooltip" title="Data de cadastro"></i>
                        @Model.DataCadastro.ToString("dd/MM/yyyy")
                    </p>
                </div>
                <div class="col">
                    <p class="lead">
                        <i class="bi bi-calendar2-check-fill mx-2" data-bs-toggle="tooltip" title="Data de alteração"></i>
                        @Model.DataAlteracao.ToString("dd/MM/yyyy")
                    </p>
                </div>

                <div class="col">
                    <p class="lead">
                        <i class="bi bi-box-seam-fill mx-2" data-bs-toggle="tooltip" title="Quantidade em estoque"></i> 
                        @Model.QuantidadeEstoque
                    </p>
                </div>
            </div>         
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 m-2 mb-lg-3">
                <button type="button" class="btn" style="background-color:  #E2CDA5 ">
                    <a class="text-dark text-decoration-none" asp-controller="Livros" asp-action="Index"><i class="bi bi-back mx-2"></i>Voltar</a>
                </button>
            </div>
        </div>
	</div>
</div>


<script src="/js/site.js" asp-append-version="true"></script>